<%= render partial: 'components/nav_bar', locals: {
  title: 'Create New Game'
} %>

<%= form_for @game, url: games_path, method: :post, local: true do |f| %>
  <h2> Played at: </h2>
  <%= date_field(:game, :played_at, value: Time.zone.now.strftime('%Y-%m-%d')) %>
  <br>
  <h2> State: </h2>
  <%= f.select(:state, options_for_select(%i[pending completed])) %>
  <br>
  <h2> Participating Players: </h2>
  <% 6.times do %>
    <div>
      <%= f.fields_for :game_records do |sub_form| %>
        Player: <%= sub_form.select(:player_id, options_for_select(@players)) %>
        Deck: <%= sub_form.select(:deck_id, options_for_select(@decks)) %>
        Result: <%= sub_form.select(:result, options_for_select(%i[loss win draw])) %>
      <% end %>
    <div>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
